body{
  background-color:white;
}

p {
  text-align:justify;
  font-family:"Times New Roman",serif;
}


body *:not(nav):not(ul):not(header){ 
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}


body:not(#nav1){
  margin-top:4em;
}

body:not(footer){
  margin-bottom: 25px;
}

article {
  display:block;
  margin-top:3em;
  margin-left: 25%;
  margin-right: 25%;
}
section{
  margin-left:2%;
}

section p{
  margin-left:7%;
}


h1, h2, h3, h4, h5, h6{
	font-family:Monospace, "Courier New", monospace;
	font-style:italic;
	font-weight:bolder;
}

h1{
}
h2{
}
h3{
}
h4{
}
h5{
}
h6{
}


header{
  text-align:center;
}
#studies section:nth-child(even){
  background-color: #EEE;
}

.videoWrapper{
  padding-top: 1em;
}

.imageWrapper{
  padding-top: 1em;
}

video{
  height:20em;
}

img{
  height:20em;
}

.svg{
  width:4em;
  height:4em;
}

#toggleBgAudioButton{
  float:right;
  background:url('../image/start.png') left center no-repeat;
  border:none;
  width: 40px;
  height: 35px;
  padding:10px 5px 10px 5px;
  padding-bottom:10px;
}


em{
  font-weight:bold;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  text-align: center;
  color: #DDD;
  font-size: 0.75em;
}




.email{
	font-family:Monospace, "Courier New", monospace;
	font-style:italic;
	font-weight:bolder;
	font-size:1.25em;
	font-variant:small-caps;

}


nav{ 
  background-color: #333;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;

}

nav ul{
  margin: 0;
  padding: 10;
}

nav ul li{
  display: inline-block; /* display each nav title next to each other horizontally */
  list-style-type: none;
}


nav ul li:hover ul {
  position:absolute; /* makes the bar unresizeable by hovering over the bar */
  display:block;
}

nav > ul > li > a { /* each title in separate blocks */
  color: #aaa;
  background-color: #FFD;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}
nav ul > li > ul > li{ /* don't show subblocks */
  display: none;
}
nav ul > li:hover > ul > li{ /* show subblocks if you hover over the block */
  display: block;
  background-color: #CCC;
}

nav ul li ul li:hover {
  background-color: #AAA;

}

nav ul li ul li a { /* formatting subblocks */
  color: #111;
  line-height: 2em;
  padding: 0.5em 2em 0.5em 2em;
  text-decoration: none;
}

nav ul  li  ul  li {
  background-color: #DDD;
}


